header {
    /* position: fixed; */
    width: 100%;
    background: #fff;
    z-index: 99999;
}

form span a {
    color: #333333;
}

ul.header-bar {
  float: left;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, "|")!important;
}

.breadcrumb {
    justify-content: right;
}

.link {
    color: black;
    margin-right: auto!important;
    margin-left: auto!important;
}

.link:hover {
    color: red;
}

.link:active {
    color: orange;
}

.faq-header-delivery {
    margin-bottom: 0;
    list-style: none;
    display: table;
}

.faq-header-delivery li {
    display: table-cell;
    vertical-align: middle;
}

.faq-header-delivery li a,
.faq-menu li a {
    color: #1e1e1f;
    text-decoration: none;
    font-size: 13px;
}

.search {
    height: 49px;
    font-size: 16px;    
}

span.#addon1 {
    width: 50px;
    justify-content: center;
}

.none {
    display: none;
}

span#basic-addon1 {
    padding-left: 10px;
    padding-right: 10px;
}

.input-group.cusstomer-menu {
    justify-content: end;
}

.input-group.cusstomer-menu {
    justify-content: end;
    padding: 0;
}

footer .brand-subtitle {
    bottom: unset;
    transform: translate(-62px, 62px);
}

footer .social-footer ul {
    display: flex;
    justify-content: center;
}

footer .social-footer ul li {
    margin-left: auto;
    margin-right: auto;
}

.brand-subtitle {
    position: absolute;
    bottom: 0;
    transform: translate(-56px, -17px);
    font-size: 10px;
    color: #fff;
    background: #00d74c;
    width: 49px;
    text-align: center;
}

.social {
    text-align: center;
}

a.navbar-brand img {
    padding: 5.5px;
}

.faq-menu {
    margin: 0!important;
}

.input-group.search {
    padding: 7px;
}

.form-control:focus {
    box-shadow: none
}

.menu-main {
    list-style: none;
    display: flex;
}

.menu-main li a {
    color: #2e2e2e;
    text-decoration: none;
}

ul.menu-main h3 {
    font-size: 20.5px;
    padding-top: 5.5px;
    font-weight: 500;
}

ul.menu-main li {
    margin-left: 0;
    margin-right: 0;
    padding: 2px;
    padding-left: 1vw;
    padding-right: 1vw;
    line-height: 32px;
}

.slide-promo {
    width: 100%;
    max-width: 1920px;
    background: black;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.slide-promo p b {
    border: 1px solid;
    padding: 7px;
    margin-left: 1vw;
    border-radius: 0;
}

.slide-promo p {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    padding: 14.5px;
    text-align: center;
}

ul.menu-main li:hover {
    background: black;
}

ul.menu-main li:hover > a {
    color: white;
    border-bottom: 1px solid white
}

ul.menu-main li.outlet-menu h3 {
    color: #00d74c;
}

ul.menu-main li.outlet-menu:hover > a {
    color: #ffffff;
}

footer .copyright p {
    font-size: 12px;
    padding-bottom: 7px;
    color: #787878;
    text-align: left;
    margin: 0;
}

.send .btn:hover {
    background: #00d74c;
}

footer .card-form .form-check-input:checked {
    background-color: #00d74c;
    border-color: #00d74c;
}

footer .copy {
    padding-top: 35px;
    border-top: 4px solid;
}

main.Home_main__nLjiQ {
    padding: 0;
}

.slideshow {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.slide-img {
    width: 100%;
    height: auto;
}

.services {
    padding: 14px;
    background: #f8f9fa;
    display: table;
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0!important;
}

.services-block {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

.services-block li {
    margin-left: auto;
    margin-right: auto;
    display: inline-block
}

.services-block li ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

.item .title {
    margin-left: 0.5vw;
    transform: translateY(2px);
}

.banners .banner-box {
    text-align: center;
    cursor: pointer
}

.banners .banner-box img {
    width: 100%
}

.banners .banner-box h2 {
    font-size: 24.5px;
    margin-bottom: 14px;
    margin-top: 14px;
}

.banners .offer-note {
    width: 100%;
    text-align: center;
    color: #4a4a4a;
    font-size: 14px;
    padding: 28px;
    padding-bottom: 0;
}

.banner-box button {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #FFF;
    background: #000;
    padding: 7px 70px;
    text-transform: uppercase;
}

.categories {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.cat-img {
    width: 100%;
    height: auto;
}

.banner-content {
    text-align: center;
    width: 100%;
    padding-top: 7px;
}

.banner-content h3 {
    font-weight: 400;
    font-size: 21px;
}

.banners h2 {
    font-size: 24.5px;
}

.brands h2 {
    font-size: 24.5px;
}

.brands-offer .brands-offer-img {
    width: 100%;
    height: auto;
}

.brands-offer-content h4 {
    font-size: 14.5px;
    font-weight: 600;
    text-align: center;
    padding-top: 10.5px;
    margin-bottom: 3.5px;
}

.brands-offer-content h5 {
    font-weight: 400;
    margin-top: 0px;
    font-size: 14.5px;
    text-align: center;
}

.store-promos img{
    width: 100%;
    height: auto;
}

.banner-box img {
    width: 100%;
    height: auto;
    max-width: 1920px;
}

footer {
    background: #f8f9fa;
    color: #ffffff;
}

footer .container-fluid {
    background: #ebebeb;
}

footer .social-footer {
    max-width: 200px;
}

.footer-content h5 {
    color: #333333;
}

footer .newsletter h3 {
    padding-bottom: 21px;
    font-weight: 500;
}

footer h3 {
    padding: 21px;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 7px;
    font-weight: 100;
    font-size: 21px;
    color: #333333;
}

footer h4 {
    padding-left: 14px;
    padding-bottom: 4px;
    font-size: 19px;
    font-weight: 500;
}

footer .footer-content h4 {
    text-align: left;
    font-size: 21px;
    color: #333;
}

.send .btn {
    background: #333333;
    border: none;
    margin-right: 0.5vw;
    margin-top: 4px;
}

.send span {
    padding-left: 0.5vw;
    color: #333;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li a {
    color: #787878;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
}

footer ul li a:hover {
    color: #00d74c;
}

footer .footer-menu h3 {
    color: #333333;
    font-weight: 500;
}

footer .payments ul {
    display: flex;
}

form .check span {
    padding-left: 0.5vw;
    font-weight: 600;
}

footer p {
    padding-left: 14px;
    font-size: 14.5px;
}

footer .card-form .form-control {
    margin-right: 0.5vw;
}

footer .card-form {
    background: #f8f9fa;
    padding: 14px;
    width: 95%;
}

footer .newsletter .card-form h4 {
    color: #333333;
}

form .send button {
    float: right;
}

footer .box {
    display: inline-block;
    text-align: center;
}

footer .box-footer {

}

footer .apps .app-store img {
    margin-left: -4px;
}

footer .box-footer ul {
    display: flex;
    list-style: none;
    padding: 0;
}

footer .box-footer li {
    margin-right: auto;
    margin-left: auto;
}

footer .footer-content h5 {
    font-size: 17.5px;
    font-weight: 400;
}

footer .community {
    margin: 0;
    padding: 21px;
    border-left: 4px solid;
}

footer .newsletter {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
}